---
status: review
assigned: ai
priority: low
reviewed_at: "2026-04-24"
---

# Windows toast

Widnwos環境からWSL環境に移動した。
そのため、トーストの発火方法を変更する必要がないか調査して。